.bj {
    width           : 1426px;
    background-color: #fff;
    margin          : auto;
}
header{
    height: 80px;
    width: 1200px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin: auto;
    border-bottom: 1px solid #999999;
    position: relative;
}
.site{
    width: 400px;
    height: 300px;
    position: absolute;
    background-color: transparent;
    top: 0px;
    left: 140px;
    display: none;
}

.place:hover .site{
    display: block;
    z-index: 3;
}
.site a:hover{
    padding: 5px;
    background-color: red;
}
.place:hover i{
    transform: rotate(180deg);
    transition: 1s;
}
.site-a{
    display: flex;
}
.site-1{
    width: 100px;
    height: 80px;
    border-left: 2px solid #b8abab;
    border-right: 2px solid #b8abab;
}
.site-2{
    width: 300px;
    height: 80px;
    background-color: transparent;
    border-bottom: 2px solid #b8abab;
}
.site-b{
    width: 400px;
   height: 220px;
    background-color: white;
    border-left: 2px solid #b8abab;
    border-right: 2px solid #b8abab;
    border-bottom: 2px solid #b8abab;
}
.site-b li{
    padding: 5px;
}

.site-b>p{
    padding: 10px;
    border-bottom: 2px solid rgb(77, 74, 74);
}
.site-b>UL{
    width: 400px;
    justify-content: space-around;
    display: flex;
}
.head-image>img{
    width: 140px;
    height: 45px;
}
a{
    text-decoration: none   ;
    font-weight: bold;
}
.nav{
    padding: 0 60px;
}
.nav>ul{
    display: flex;
    height: 21px;
    width: 360px;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    color: black;

}
.nav li:hover a{
    color: white;
    background-color: red;
    padding: 25px 20px;
}
[type="text"]{
    width: 262px;
    height: 40px;
    border-radius: 30px;
    font-size: 17px;
    color: #999999;
    outline: none;
    border: 2px solid #999999;
}
.seek{
    position: relative;
}
.seek i{
    display: inline-block;
    background-image: url(../客户端.img/sprite_webpage.png);
    width: 40px;
    height: 40px;
    position: absolute;
  left: 230px;
}
.download{
    position: relative;
}
.code{
   width: 130px;
   height: 300px;
   display: none;
   position: absolute;
   top: -25px;
   left: -5px;
  
}
.code-1{
    height: 80px;
    width: 128px;
   background-color: transparent;
}
.code-2{
    height: 220px;
    width: 128px;
   background-color: white;
}
.code-2 img{
   margin-left: 15px;
    margin-top: 30px;
}
.download:hover .code{
    display: block;
    z-index: 3;
}
.download:hover i{
    transform: rotate(180deg);
    transition: 1s;
}
.user{
    position: relative;
}
.load{
    width: 100px;
    height: 150px;
  display: none;
    position: absolute;
    left: -10px;
    top: -15px;
    border: 2px solid #b8abab;
}
.load a{
    margin-top: 80px;
    text-align: center;
}
.user:hover .load{
    display: block;
    z-index: 3;
}
.user:hover i{
    transform: rotate(180deg);
    transition: 1s;
}
.p{
    font-size: 30px;
}
.font-size{
    font-size: 20px;
    color: black;
}
.confirm>input{
    width: 260px;
    height: 38px;
    border-radius: 20px;
}

.content{
    width: 1200px;
    height: 900px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: auto;
    position: relative;
}

.load-1{
    margin: 60px 140px;
    height: 40px;
}
.loading::before,
.loading::after{
    margin-top: 60px;
    content: '';
  display: block;
  border-radius: 5px;
height: 5px;
width: 900px;
background-color: rgb(231, 204, 220);
position: absolute;
    top: 10px;
}
.loading::after{
    background-image: linear-gradient(90deg,red,rgb(231, 144, 144));
    animation: infinite 3s ease-in-out move;
    z-index: 1;
}
@keyframes move{
    from{
        width: 0%;
    }
    to{
        width:500px;
    }
}
.number>ul{
    display: flex;
    z-index: 2;
    justify-content: space-between;
    width: 900px;
    height: 30px;
    position: absolute;
}
.number>ul>li{
    width: 20px;
    color: white;
    text-align: center;
    height: 20px;
    border-radius: 10px;
    background-color: crimson;
}
.number>ul>li>a{
    color: white;
}
.center{
    width: 1200px;
    height: 670px;
    border: rgb(231, 204, 220) 1px solid;
    display: flex;
}
.center-left{
    width: 820px;
    height: 100%;
}
.center-right{
    width: 380px;
    height: 100%;
    background: #f9f9f9;
}
.center-right>div:nth-child(1){
    height: 195px;
    border-bottom: 1px dashed rgb(199, 187, 187) ;
    display: flex;
}
.haiwang{
margin: 20px;
}
.introduce{
    margin-top: 20px;
    line-height: 2em;
}
p{
    font-size: 14px;
}
span{
    color: rgb(207, 212, 210);
}
.center-right>div:nth-child(2){
    height: 150px;
    border-bottom: 1px dashed rgb(199, 187, 187) ;
}
.center-right>div:nth-child(3){
    height: 165px;
    border-bottom: 1px dashed rgb(199, 187, 187);
}
.address{
    margin: 20px;
}
.address>p{
    line-height: 1.5em;
}
.site-content>p{
    margin-left: 20px;
    margin-top: 20px;
}
.site-content>p:nth-child(2){
 margin-top: 40px;
 margin-left: 90px;
 color: rgb(196, 116, 116);
}
.site-content>p:nth-child(3){
    margin-top: 30px;
    font-size: 20px ; color: red;
}
.phone-number>p{
 margin: 10px 110px;    
}
.confirm{
    margin: 30px 50px;
    color: white;
}
.site-top{
    width: 620px;
    height: 100px;
    background: #fff;
    margin: auto;

}
.site-top>ul{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-top>ul>li span{
    color: black;
}
.process{
    width: 620px;
    height: 25px;
    margin: auto;
    background-color: #f5f5f5;
    border-radius: 0 0 20px 20px;
}
.xuanzuo>p{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}
.xuanzuo ul{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.xuanzuo i{
    width: 50px;
    height: 50px;
    background-image: url(../客户端.img/kexuan.jpg);
    display: inline-block;
    background-size: 50px 50px;
}
.xuanzuo li:nth-of-type(3){
    width: 50px;
    height: 50px;
    background-image: url(../客户端.img/yishou.jpg);
    display: inline-block;
    background-size: 50px 50px;
}
.xuanzuo span{
    font-size: 15px;
    color: black;
}
.xuanzuo li:hover i{
    width: 50px;
    height: 50px;
    background-image: url(../客户端.img/yixuan.jpg);
    display: inline-block;
    background-size: 50px 50px;
  
}
.opcity{
    opacity: 0.1;
}
footer{
    height: 210px;
    width: 100%;
    background-color: #262426;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-1{


text-align: center;
color: #afaaaf;
}
.qw{
    display: flex;
    width: 280px;
    justify-content: space-between;
margin-left: 280px;
}
.qw a{
    color: red;
    border-right: 1px solid #afaaaf;
    padding-right: 5px;
}