.bj {
    width           : 1426px;
    background-color: #fff;
    margin          : auto;
}
header{
    height: 80px;
    width: 1200px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin: auto;
    border-bottom: 1px solid #999999;
    position: relative;
}
.site{
    width: 400px;
    height: 300px;
    position: absolute;
    background-color: transparent;
    top: 0px;
    left: 140px;
    display: none;
}
.place:hover .site{
    display: block;
    z-index: 3;
}
.site a:hover{
    padding: 5px;
    background-color: red;
}
.place:hover i{
    transform: rotate(180deg);
    transition: 1s;
}
.site-a{
    display: flex;
}
.site-1{
    width: 100px;
    height: 80px;
    border-left: 2px solid #b8abab;
    border-right: 2px solid #b8abab;
}
.site-2{
    width: 300px;
    height: 80px;
    background-color: transparent;
    border-bottom: 2px solid #b8abab;
}
.site-b{
    width: 400px;
   height: 220px;
    background-color: white;
    border-left: 2px solid #b8abab;
    border-right: 2px solid #b8abab;
    border-bottom: 2px solid #b8abab;
}
.site-b li{
    padding: 5px;
}

.site-b>p{
    padding: 10px;
    border-bottom: 2px solid rgb(77, 74, 74);
}
.site-b>UL{
    width: 400px;
    justify-content: space-around;
    display: flex;
}
.head-image>img{
    width: 140px;
    height: 45px;
}
a{
    text-decoration: none   ;
    font-weight: bold;
}
.nav{
    padding: 0 60px;
}
.nav>ul{
    display: flex;
    height: 21px;
    width: 360px;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    color: black;

}
.nav li:hover a{
    color: white;
    background-color: red;
    padding: 25px 20px;
}
[type="text"]{
    width: 262px;
    height: 40px;
    border-radius: 30px;
    font-size: 17px;
    color: #999999;
    outline: none;
    border: 2px solid #999999;
}
.seek{
    position: relative;
}
.seek i{
    display: inline-block;
    background-image: url(../客户端.img/sprite_webpage.png);
    width: 40px;
    height: 40px;
    position: absolute;
  left: 230px;
}
.download{
    position: relative;
}
.code{
   width: 130px;
   height: 300px;
   display: none;
   position: absolute;
   top: -25px;
   left: -5px;
  
}
.code-1{
    height: 80px;
    width: 128px;
   background-color: transparent;
}
.code-2{
    height: 220px;
    width: 128px;
   background-color: white;
}
.code-2 img{
   margin-left: 15px;
    margin-top: 30px;
}
.download:hover .code{
    display: block;
    z-index: 3;
}
.download:hover i{
    transform: rotate(180deg);
    transition: 1s;
}
.user{
    position: relative;
}
.load{
    width: 100px;
    height: 150px;
  display: none;
    position: absolute;
    left: -10px;
    top: -15px;
    border: 2px solid #b8abab;
}
.load p{
    margin-top: 80px;
    text-align: center;
}
.user:hover .load{
    display: block;
    z-index: 3;
}
.user:hover i{
    transform: rotate(180deg);
    transition: 1s;
}
.content {
    position: relative;
}

.bj-color {
    height          : 320px;
    width           : 100%;
    background-image: radial-gradient(circle, #744500, #413364);
    position        : relative;
    display         : flex;
}

.bj-left {
    height: 375px;
    width : 407px;
    position: relative;
}
.bj-left:hover img{
    transform: scale(1.2);
}

.bj-left>img {
    width     : 300px;
    height    : 300px;
    position  : absolute;
    z-index   : 2;
    left      : 140px;
    top       : 70px;
    box-shadow: 0 0 0 4px rgb(194, 191, 191);
}
.bj-left:hover .xiangqing{
display: block;

}
.xiangqing{
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 140px;
    top: 170px;
    z-index: 3;
    text-align: center;
display: none;
    font-size: 20px;
    color: white;
}
.haiwang {
    margin-top : 70px;
    margin-left: 100px;
    line-height: 2em;
    color      : white;
}
.haiwang p{
    /* padding-top: 10px; */
    font-size: 12px;
}

.haiwang span{
   font-size: 10px;
   padding: 5px;
    width: 15px;
    height: 15px;
    border: 1px solid;
    border-radius: 5px;
}
.ditu{
    position: relative;
}
.ditu:hover .ditu-fangda{
    display: block;
}
.ditu>img{
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-left: 140px;
}
.ditu-fangda{
    position: absolute;
    top: 70px;
  left: 20px;
  display: none;
}

.ditu-fangda>img{
    width: 400px;
    height: 200px;
}
.center{
    width: 1200px;
    margin: auto;
}
.movie{
    height: 280px;
    background-color: #efefef;
    margin-top: 100px;
   position: relative;
}
.movie>ul{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.movie>ul>li{
    padding-top: 50px;
    position: relative;
}
.movie img{
    width: 130px;
    height: 190px;
    box-shadow: 0 0 0 3px rgb(168, 163, 163);
}
.movie>ul>li:hover img{
  transform: scale(1.2);
}
.zimu{
    position: absolute;
    width: 130px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    color: white;
  display: none;
    text-align: center;
    z-index: 3;
}
.movie li:hover>.zimu{
    display: block;
}
.next>i{
    width: 40px;
    height: 50px;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.2);
   position: absolute;
   left: 1150px;
   top: 120px;
}
.last{
    width: 40px;
    height: 50px;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.2);
   position: absolute;
   top: 120px;
}
.tent>h1{
    font-size: 25px;
    padding: 30px 0;
}
.tent{
    width: 1200px;
    height: 87px;
    position: relative;
}
.index{
    width: 1200px;
    height: 87px;
 background-color: white;
    position: absolute;
    top: 300px;
    left: -360px;
    z-index: 3;
    font-size: 20px;
    display: none;
}
.movie ul>li:hover .index{
    display: block;
}

.time{
    display: flex;
    font-size: 12px;
    justify-content: start;
    border-bottom: 1px solid rgb(158, 148, 148);
}
.time>p{
    padding-right: 30px;
    padding-bottom: 20px;
}
.time span{
color: rgb(167, 163, 163);
}
.wacth>ul{
    padding-top: 20px;
    width: 530px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;

}
.wacth>ul>li:hover{
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 5px;
}
.table{
    margin-top: 20px;
}
.table>ul:first-child{
    display: flex;
    font-weight: bold;
    background-color: #efefef;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.table-1>ul:nth-child(odd){
    display: flex;
    font-weight: bold;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
    height: 80px;
   
}
.table-1>ul:nth-child(even){
    display: flex;
    font-weight: bold;
    background-color: #efefef;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-radius: 10px;
}
.table-1>ul>li:hover a{
    width: 80px;
    height: 30px;
    background-color: #ef4238;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}
.table-1>ul>li:nth-child(4){
    color: coral;
    font-size: 20px;
}
.table-1>ul>li:nth-child(2){
    font-size: 14px;
    color: rgb(102, 97, 98);
}
.table-1>ul>li:nth-child(3){
    font-size: 14px;
    color: rgb(102, 97, 98);
}
.table-1>ul>li:nth-child(1){
    font-size: 18px;
    
}

footer{
    height: 210px;
    width: 100%;
    background-color: #262426;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-1{


text-align: center;
color: #afaaaf;
}
.qw{
    display: flex;
    width: 280px;
    justify-content: space-between;
margin-left: 280px;
}
.qw a{
    color: red;
    border-right: 1px solid #afaaaf;
    padding-right: 5px;
}